{% extends "base.html" %}

{% block content %}
<section class="content-header">
  <h1>
	{{title}}
	<small>{{title}}</small>
  </h1>
  <ol class="breadcrumb">
	<li><a href="#"><i class="fa fa-dashboard"></i> {{title}}</a></li>
	<li class="active">{{title}}</li>
  </ol>
</section>
<div class="panel panel-default">
    <div class="panel-body">
   <div class="col-lg-9 col-lg-offset-4"><h1>欢迎来到玖月奇迹音乐教室</h1>
浏览器支持：
<h3>IE9 +</h3>
<h3>Firefox（最新）</h3>
    <h3>   Safari（最新）</h3>
<h3>Chrome（最新)</h3>
<h3>Opera (最新)</h3>
   </div></div></div>
{% endblock content %}


